.topsection {
  display: flex;
  align-items: left;
}

.App {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.container {
  padding: 8px;
  margin: 0 auto;
  max-width: 1300px;
}

.topsection1 h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  font-size: 18px;
  text-align: left;
}

.top-header {
  display: flex;
  align-items: center;
  gap: 12px;
}

.topsection1 h3 {
  margin: 0;
  font-size: 13px;
  color: gray;
  font-weight: normal;
}

.topsection2 {
  margin-left: auto;
}

.topsection2 button {
  display: flex;
  padding: 10px 20px;
  font-size: 17px;
  border-radius: 12px;
  align-items: center;
  border: none;
  background-color: #cdcdcd;
  cursor: pointer;
  transition: 0.2s;
}

.topsection2 button:hover {
  background-color: #b3b3b3;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-left: 130px;
  padding: 10px 14px;
  border-radius: 12px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  width: 300px;
  gap: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar input {
  width: 100%;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: transparent;
}


.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  width: 500px;
  max-width: 90%;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modal-header h2 {
  margin: 0;
}

.close-btn {
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.form-group label {
  margin-bottom: 6px;
  font-weight: 600;
}

.form-group input {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 15px;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;

  gap: 10px;

  margin-top: 10px;
}

.cancel-btn {
  padding: 10px 18px;

  border: 1px solid #ddd;
  border-radius: 8px;

  background: white;

  cursor: pointer;
}

.cancel-btn:hover {
  background: #f3f4f6;
}

.add-btn {
  padding: 10px 18px;

  border: none;
  border-radius: 8px;

  background: #111827;
  color: white;

  cursor: pointer;
}

.add-btn:hover {
  background: #1f2937;
}